body {
    background: linear-gradient(to left top, skyblue,darkseagreen);
    font-family: sans-serif;
    color: darkseagreen;
}

    body > * {
        width: 60%;
        margin: auto;
        padding: 15px;
    }

    h1 {
        font-size: 2em;
        color: white;
        text-indent: 15px;
        text-transform: uppercase;
    }

    h2 {
        font-size: 1.2em;
        color: white;
        text-indent: 60px;
    }

    h3 {
        font-size: 1em;
        color: white;
        text-indent: 100px;
        font-weight: normal;
        font-style: italic;
    }

    div {
        margin-bottom: 30px;
        background-color: white;
        border-radius: 0 10px 5px 20px;
        border: none;
        text-align: justify;
    }

        a {
            display: block;
            padding: 5px;
            font-weight: bold;
            text-align: right;
            text-decoration: none;
    color: darkseagreen;
        }

        a:hover {
            color: white;
            background: linear-gradient(to left top, skyblue,darkseagreen);
        }